@font-face {
  font-family: 'Comforter';
  src: url('Font/ComforterBrush-Regular.otf') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.nameplate {
  font-family: 'Comforter', serif;
  background-image: url('');
}
body {
  background-color: #8a9a63;
  margin: 0; /*убирает отступы по умолчанию*/
  height: 100vh; 
  display: flex;
  justify-content: center;
}
.title {
  font-size: larger; color: brown;
}